<!doctype html>
<html>
<head>
  <title>torouter configuration interface</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">torouter</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
        version {{ config.TOROUTERVERSION or "?.?.?" }}
        </p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
{% macro pagelink(path, name) -%}
            <li {% if path == request.path %}class="active"{% endif %}><a href="{{path}}">{{name}}</a></li>
{%- endmacro %}
            {{ pagelink("/", "System Status") }}
            {{ pagelink("/about/", "About Project") }}
            {{ pagelink("/reboot/", "Reboot...") }}
            <li class="nav-header">Configuration</li>
            {{ pagelink("/wan/", "Upstream Ethernet") }}
            {{ pagelink("/lan/", "Local Ethernet") }}
            {{ pagelink("/wifi/", "WiFi") }}
            {{ pagelink("/tor/", "Tor Network") }}
            <li class="nav-header">Monitoring</li>
            {{ pagelink("/logs/", "Logs") }}
            {{ pagelink("/processes/", "Processes") }}
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
    {% if messages %}
        {{ mesages }}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% if category == "warning" %}<strong>Warning:</strong>{% endif %}
            {% if category == "error" %}<strong>Error:</strong>{% endif %}
            {% if category == "info" %}<strong>Note:</strong>{% endif %}
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% block body %}{% endblock %}
      </div><!--/span-->
    </div><!--/row-->
  <hr>
  <footer>
    <p>&copy; torouter, copyleft 2012</p>
  </footer>
</div><!--/.fluid-container-->

</body>
</html>
